/* gerais*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  background-color: #fde3c0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.col-12 {
  padding: 0 30px;
}
.row {
  margin: 0;
}
.container {
  padding: 40px 0;
}
#about-area img {
  padding-top: 20px;
  padding-bottom: 20px;
}
#about {
  background-color: #fbd49f;
}
p,
li {
  list-style: none;
  color: #444444;
  font-size: 16px;
}

/* barra de navegação */
header,
.navbar {
  background-color: #8d1319;
  box-shadow: 0px 0px 4px #272727;
}
#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
/* logo da salada */
.navbar-dark .navbar-brand {
  padding: 0;
  color: #fde3c0;
}

.navbar-dark .navbar-brand:hover {
  color: #ffc68f;
  transition: all 0.6s;
  transform: scale(1.02);
}
/* texto do logo */

a {
  text-decoration: none;
}

.navbar-brand:hover {
  color: #ffc68f;
  background-color: #8d1319;
  transition: all 0.6s;
  transform: scale(1.05);
}

#navbar-links a {
  color: #fde3c0;
} /*links*/

#navbar-links a:hover {
  color: #ffc68f;
  background-color: #8d1319;
  transition: all 0.6s;
  transform: scale(1.01);
} /*hover dos links*/

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 0.8rem;
}

.banner {
  padding-top: 20px;
  background-image: url("../img/mesa.jpg");
  background-size: cover;
}

.titulo-banner {
  display: flex;
  padding-top: 20px;
  margin-left: 6px;
  margin-right: 6px;
  justify-content: center;
  color: #faebd7;
  font-size: 2.5rem;
  text-shadow: 2px 2px 3px #444444;
}

.paragrafo-banner {
  display: flex;
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 8px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 2px 2px 3px #272626;
}

.bot-receita {
  display: flex;
  justify-content: center;
  align-items: center;
}

#receita {
  border: solid;
  background-color: #8d1319;
  text-decoration: none;
  padding: 10px;
  color: #fde3c0;
  border-color: #8d1319;
  cursor: pointer;
}
#receita:hover {
  color: #ffc68f;
  background-color: #c4141c;
  border: solid #c4141c;
  transition: all 0.6s;
  transform: scale(1.05);
  box-shadow: 0px 0px 4px #272727;
}

#contact-area {
  background-color: burlywood;
  text-align: center;
}
#sobre {
  margin-top: -10px;
}
.main-title {
  margin: 0 0 20px 0;
}
.about-title {
  color: #444444;
}
.text-start {
  margin: 0;
}
.fa-check {
  color: #c4141c;
}
#sobre-mesa {
  max-width: 80%;
}
#about-list {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  list-style: none;
}

#abaut-area p {
  padding-top: 40px;
}

.list-group-item {
  color: #fbd49f;
  background-color: #8d1319;
}
#tip:hover {
  transition: all 0.6s;
  transform: scale(1.02);
  box-shadow: 1px 1px 8px #bbbbbb;
}
#about h2 {
  color: #c4141c;
}
#dicas {
  background-color: #fbd49f;
  padding: 10px 40px;
  margin-bottom: 40px;
}
#subs {
  padding: 40px;
  margin-top: -40px;
  background-color: #fbd49f;
}
#opniao h6 {
  color: #c4141c;
}
#opniao {
  padding: 20px;
  border: solid 2px burlywood;
}
.fa-star,
.fa-star-half-stroke {
  color: #c4141c;
}
.footer {
  padding-top: auto;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #8d1319;
}

.contact-box i {
  color: #8d1319;
  border: solid 1px #ffc68f;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box i:hover {
  color: #c4141c;
  border-color: #ffc68f;
  box-shadow: 0px 0px 3px #929292;
  transition: all 0.6s;
  transform: scale(1.08);
}

.contact-box p {
  font-size: 16px;
}

.contact-title {
  font-weight: bold;
  color: #8d1319;
}
#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  border: solid 1px #8d1319;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fae6d2;
}
#contact-form .main-btn {
  width: 120px;
  height: 50px;
  border: solid #8d1319;
  background-color: #8d1319;
  color: #fde3c0;
}

#contact-form .main-btn:hover {
  color: #ffc68f;
  background-color: #c4141c;
  border: #c4141c;
  transition: all 0.6s;
  transform: scale(1.05);

  box-shadow: 0px 0px 4px #929292;
}

#link-box {
  text-align: center;
  color: #8d1319;
}

#link-box i {
  text-align: center;
  color: #8d1319;
}
.contact-box a {
  text-decoration: none;
}
#link-box a {
  font-size: 22px;
  text-decoration: none;
}
#link-box span:hover {
  color: #c4141c;
  transition: all 0.6s;
  transform: scale(1.05);
}

.link-text {
  color: #8d1319;
  font-weight: bold;
}

#link-box i:hover {
  color: #c4141c;
  transition: all 0.6s;
  transform: scale(1.05);
}

#copy-area {
  background-color: #8d1319;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
  color: #fde3c0;
}
#copy-area .container a {
  text-decoration: none;
  color: #fde3c0;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #ffc68f;
}
#letter {
  margin-top: 10px;
  margin-bottom: 20px;
}
.input-group {
  align-items: center;
}
.label {
  align-items: center;
  margin-bottom: 0px;
}

#news-area {
  padding-top: 40px;
}
#news-area p {
  font-size: 18px;
  margin-bottom: 10px;
}
#news-form {
  background: #fbd49f;
  padding: 20px 20px;
}
#news-form input {
  align-items: center;
  border: solid 1px #8d1319;

  background-color: #fae6d2;
}

#basic-addon1 {
  padding: 0 30;
  margin-right: -10px;
  border: solid 1px #8d1319;
  background-color: #8d1319;
  color: #fde3c0;
}

#news-btn.form-control {
  color: #fde3c0;
  background: #8d1319;
}

#news-btn.form-control:hover {
  background: #c4141c;
  color: #ffc68f;
  cursor: pointer;
  transition: all 0.6s;
  transform: scale(1.05);
}

.input-group-text {
  align-items: center;
}

/*Receitas*/
.receita-area {
  padding: 0px 40px;
  box-sizing: border-box;
}
#receita-topo {
  margin-top: 100px;
  padding: 0px;
}
#titulo {
  color: #c4141c;
  padding-top: 100px;
  margin-bottom: -20px;
}

#cards {
  display: contents;
}
.card-img-top {
  width: 100%;
  object-fit: cover;
  height: 30vh;
}

.card-body {
  margin: 40px;
  margin-bottom: 40px;
  background-color: #fbd49f;
}
.card-body p {
  text-align: center;
  padding-top: 20px;
}
.card-body:hover {
  transform: scale(1.04);
  box-shadow: 1px 1px 4px #495057;
  transition: all 0.4s;
}

.card-title {
  color: #8d1319;
  text-align: center;
}

.card-span {
  font-weight: bold;
  text-align: center;
  color: #8d1319;
}

.receita-area .main-title {
  padding-top: 30px;
  margin-bottom: 10px;
  font-size: 2.5rem;
}
#bot-2 {
  text-align: center;
  padding: 40px;
  margin-top: -40px;
  background-color: #fbd49f;
}
.c-item {
  text-decoration: none;
  padding: 0 40px;
  height: 480px;
}
.c-img {
  height: 100%;
  object-fit: cover;
}
.c-item a {
  text-decoration: none;
}
.c-item h5:hover {
  transform: scale(1.04);
  transition: all 0.4s;
}
.c-item h5 {
  color: #faebd7;
  margin: 0;
  font-size: 22px;
  text-shadow: 1px 1px 1px #272626;
}
.c-item p {
  font-size: 18px;
  color: #faebd7;
  text-shadow: 1px 1px 1px #272626;
}
.text-center{color: #c4141c;}
@media(max-width: 1024px){
  .col-12 {
    padding: 0 20px;
  }
  .container {
    padding: 0px;
  }

  .banner {
    padding-bottom: 20px;
    padding-top: 50px;
  }
  .titulo-banner {
    text-align: center;
  }
  #about-list li {
    margin-left: -40px;
  }

  #dicas {
    margin-top: -20px;
    padding-top: -60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #about {
    padding: 0px;
  }
  #about-area {
    padding-top: -20px;
  }

  #about-area img {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .main-title {
    margin: 20px 0px;
  }
  .about-title {
  }
  #bot-2 {
    padding-top: 0px;
  }
  #dicas {
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  #dicas h3 {
    margin: 20px;
  }
  #letter {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #cadastro {
    padding-top: -20px;
  }
  #news-area {
    padding: 12px;
  }
  .card-body {
    margin: 10px;
  }
  .card-body:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 4px #495057;
    transition: all 0.4s;
  }
  #titulo {
    margin-bottom: 0;
    padding-top: 120px;
  }
  #about-area img {
    max-width: 100%;
    object-fit: cover;
  }
  .c-item {
    padding: 0;
    height: 420px;
  }
  #subs {
    padding: 20px 0px;
  }
  #subs h5 {
    margin: 20px;
  }
  #opniao {
    padding: 0px 10px;
  }
  #bot-2 {
    padding-top: 20px;
  }
  .col-md-4{padding: 0px;
    margin: 0px;}
    .receita-area{padding: 0 0px;}
    .card-body{margin: 20 0px;}
}
@media (max-width: 768px) {
  .col-12 {
    padding: 0 20px;
  }
  .container {
    padding: 0px;
  }

  .banner {
    padding-bottom: 20px;
    padding-top: 50px;
  }
  .titulo-banner {
    text-align: center;
  }
  #about-list li {
    margin-left: -40px;
  }

  #dicas {
    margin-top: -20px;
    padding-top: -60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #about {
    padding: 0px;
  }
  #about-area {
    padding-top: -20px;
  }

  #about-area img {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .main-title {
    margin: 20px 0px;
  }
  .about-title {
  }
  #bot-2 {
    padding-top: 0px;
  }
  #dicas {
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  #dicas h3 {
    margin: 20px;
  }
  #letter {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #cadastro {
    padding-top: -20px;
  }
  #news-area {
    padding: 12px;
  }
  .card-body {
    margin: 10px;
  }
  .card-body:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 4px #495057;
    transition: all 0.4s;
  }
  #titulo {
    margin-bottom: 0;
    padding-top: 120px;
  }
  #about-area img {
    max-width: 100%;
    object-fit: cover;
  }
  .c-item {
    padding: 0;
    height: 420px;
  }
  #subs {
    padding: 20px 0px;
  }
  #subs h5 {
    margin: 20px;
  }
  #opniao {
    padding: 0px 10px;
  }
  #bot-2 {
    padding-top: 20px;
  }
  .col-md-4{padding: 0px;
    margin: 0px;}
    .receita-area{padding: 0 0px;}
    .card-body{margin: 20 0px;}
}

@media (max-width: 425px) {
  .col-12 {
    padding: 0 20px;
  }
  .container {
    padding: 0px;
  }

  .banner {
    padding-bottom: 20px;
    padding-top: 50px;
  }
  .titulo-banner {
    text-align: center;
  }
  #about-list li {
    margin-left: -40px;
  }

  #dicas {
    margin-top: -20px;
    padding-top: -60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #about {
    padding: 0px;
  }
  #about-area {
    padding-top: -20px;
  }

  #about-area img {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .main-title {
    margin: 20px 0px;
  }
  .about-title {
  }
  #bot-2 {
    padding-top: 0px;
  }
  #dicas {
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  #dicas h3 {
    margin: 20px;
  }
  #letter {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #cadastro {
    padding-top: -20px;
  }
  #news-area {
    padding: 12px;
  }
  .card-body {
    margin: 10px;
  }
  .card-body:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 4px #495057;
    transition: all 0.4s;
  }
  #titulo {
    margin-bottom: 0;
    padding-top: 120px;
  }
  #about-area img {
    max-width: 100%;
    object-fit: cover;
  }
  .c-item {
    padding: 0;
    height: 240px;
  }
  #subs {
    padding: 20px 0px;
  }
  #subs h5 {
    margin: 20px;
  }
  #opniao {
    padding: 0px 10px;
  }
  #bot-2 {
    padding-top: 20px;
  }
  .col-md-4{padding: 0px;
    margin: 0px;}
    .receita-area{padding: 0 0px;}
    .card-body{margin: 20 0px;}
}

@media (max-width: 375px) {
  .col-12 {
    padding: 0 20px;
  }
  .container {
    padding: 0px;
  }

  .banner {
    padding-bottom: 20px;
    padding-top: 50px;
  }
  .titulo-banner {
    text-align: center;
  }
  #about-list li {
    margin-left: -40px;
  }

  #dicas {
    margin-top: -20px;
    padding-top: -60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #about {
    padding: 0px;
  }
  #about-area {
    padding-top: -20px;
  }

  #about-area img {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .main-title {
    margin: 20px 0px;
  }
  .about-title {
  }
  #bot-2 {
    padding-top: 0px;
  }
  #dicas {
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  #dicas h3 {
    margin: 20px;
  }
  #letter {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #cadastro {
    padding-top: -20px;
  }
  #news-area {
    padding: 12px;
  }
  .card-body {
    margin: 10px;
  }
  .card-body:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 4px #495057;
    transition: all 0.4s;
  }
  #titulo {
    margin-bottom: 0;
    padding-top: 120px;
  }
  #about-area img {
    max-width: 100%;
    object-fit: cover;
  }
  .c-item {
    padding: 0;
    height: 240px;
  }
  #subs {
    padding: 20px 0px;
  }
  #subs h5 {
    margin: 20px;
  }
  #opniao {
    padding: 0px 10px;
  }
  #bot-2 {
    padding-top: 20px;
  }
  .col-md-4{padding: 0px;
    margin: 0px;}
    .receita-area{padding: 0 0px;}
    .card-body{margin: 20 0px;}
}

@media (max-width: 320px) {
  .col-12 {
    padding: 0 20px;
  }
  .container {
    padding: 0px;
  }

  .banner {
    padding-bottom: 20px;
    padding-top: 100px;
  }
  .titulo-banner {
    text-align: center;
  }
  #about-list li {
    margin-left: -40px;
  }

  #dicas {
    margin-top: -20px;
    padding-top: -60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #about {
    padding: 0px;
  }
  #about-area {
    padding-top: -20px;
  }

  #about-area img {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .main-title {
    margin: 20px 0px;
  }
  .about-title {
  }
  #bot-2 {
    padding-top: 0px;
  }
  #dicas {
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  #dicas h3 {
    margin: 20px;
  }
  #letter {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #cadastro {
    padding-top: -20px;
  }
  #news-area {
    padding: 12px;
  }
  .card-body {
    margin: 10px;
  }
  .card-body:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 4px #495057;
    transition: all 0.4s;
  }
  #titulo {
    margin-bottom: 0;
    padding-top: 120px;
  }
  #about-area img {
    max-width: 100%;
    object-fit: cover;
  }
  .c-item {
    padding: 0;
    height: 240px;
  }
  #subs {
    padding: 20px 0px;
  }
  #subs h5 {
    margin: 20px;
  }
  #opniao {
    padding: 0px 10px;
  }
  #bot-2 {
    padding-top: 20px;
  }
  .col-md-4{padding: 0px;
  margin: 0px;}
  .receita-area{padding: 0 0px;}
  .card-body{margin: 20 0px;}
}
